ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color:cornsilk;
    position:sticky;
    top: 0;
    width: 100;
  }
  
  li {
    float:right;
    border-right:1px solid #bbb;
  }
  
  li a {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:bold;
    display:block;
    color:darkslategrey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: white;
    margin: 0;
    border: 1px solid black;
  }
  body{
    border-radius: 20;
  }
body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: cornsilk;
}
h1{
    text-align:center;
    margin: 0px;
    color:black;
    font-style: italic;
    float:none;
}
h2{
   text-align:center;
    margin: 0px;
    color:black;
  font-style: italic;
  float:none;
    font-weight:bold;
    margin:0;
}
div.gallery {
  border: 20px solid #ccc;
}

div.gallery:hover {
  border: 20px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 5px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}